<form id="login" method="post" action="/">
    <label for="nickname">Nickname:</label><br>
    <input type="text" id="nickname" name="nickname" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" id="loginSubmit" value="login">
</form>